html {
    background-image: url(/image/background.jpg);
    background-repeat: repeat !important;
    background-size: 100%;
}

body {
    margin: 0px;
    padding: 0%;
}

#title {
    text-align: center;
    color: white;
    padding-top: 15px;
    margin-top: 0px;
}

.input-label {
    color: white;
}

.name-input {
    width: 142px;
}

.price-input {
    width: 65px;
}

.start_div {
    margin-left: 3%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap: 30px;
    padding-bottom: 10px;
}

.info_div {
    margin: auto;
    width: 75%;
    min-width: 150px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.info-head {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.back-button {
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}

.card {
    width: 15%;
    min-width: 150px;
    border: 2px solid azure;
    background-color: azure;
    border-radius: 7px;
    cursor: pointer;
}

.card:hover {
    background-color: aquamarine;
    opacity: 0.9;
}

.card-text {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    text-align: center;
}

#cargo-image {
    width: 100%;
    border-radius: 4px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
}

.info-text {
    width: 48%;
    padding-left: 2%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#info-image {
    width: 100%;
    border-radius: 10px;
}

.info-description {
    font-size: 14px;
}

.info-price {
    font-style: italic;
}

.info-image-class {
    width: 50%;
    min-width: 180px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.delete-button {
    width: 100%;
    background-color: #0095ff;
    border: 2px solid #0095ff;
    border-radius: 5px;
    font-size: 14px;
}

.delete-button:hover {
    background-color: rgb(0, 89, 255);
    border: 2px solid black;
}