<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Cargo to ISS</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <div id="root">
    {{ if not .IsDeleted }}
      <div id="cargo_info" class="info_div">
        <div class="info-head">
        <button onclick="location.href='/cargo';" class="back-button">Назад</button>
        <h1 id="title">{{ .Name }}</h1>
        </div>
        <div class="info">
          <div class="info-text">
            <h3 id="info-cat">Категория: {{ .Category }}</h3>
            <h3 id="info-desc">Описание: <span class="info-description">{{ .Description }}</span></h3>
            <h3 id="info-pr">Цена: <span class="info-price">{{ .Price }} руб.</span></h3>
            <h3 id="info-wei">Масса: <span class="info-price">{{ .Weight }} кг</span></h3>
            <h3 id="info-cap">Объём: <span class="info-price">{{ .Capacity }} м<sup>3</sup></span></h3>
          </div>
          <div class="info-image-class"><img id="info-image" src="{{ .Photo }}" alt="Изображение груза"></div>
        </div>
      </div>
    {{ else }}
      <p>Груз был удален!</p>
    {{ end }}
    </div>
  </body>
</html>